.page-title { 
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

/* The form grid */
.candidate-form {
  max-width: 1100px;
  margin: 0 auto 20px;
  
  padding: 20px;
  border-radius: 16px;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-auto-rows: minmax(60px, auto);     
  gap: 20px;
  
}

/* All inputs look the same */
.candidate-form input {
  width: 100%;
  padding: 12px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  background: #fff;
}

.candidate-form input:focus {
  box-shadow: 0 0 8px #00bfff;
  background-color: #f9f9f9;
  color: #333;
}

.passwordcontainer {
  position: relative;   
  width: 100%;          
  display: flex;
  align-items: center;
}

.passwordcontainer input {
  width: 100%;
  padding: 12px 40px 12px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  background: #fff;
}

.password-icon {
  position: absolute;   
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 18px;
  transition: color 0.3s ease;
}
 

.add-btn {
  justify-self: center;          
  background: #007bff;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 12px 40px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn:hover {
  background: #0056b3;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px; 
  justify-items: center; 
}

  

