

.navbar_admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.05); /* translucent bar */
  backdrop-filter: blur(8px);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  /* z-index: 1000; */
}

.logo_admin {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  /* z-index: 1001; */
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

.nav-links li:hover {
  color: #ffd700;
  transform: translateY(-2px);
}
