/* Full screen background */
.password {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:40px;
  border-radius: 1.2rem;
  min-height: 93vh;
 background:linear-gradient(135deg, #004e92, #000428);
  font-family: "Poppins", sans-serif;
}

/* Card */
.password_card {
  background: #fff;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 50%;
  max-width: 400px;
  text-align: center;
}


.title_password{
  margin:10px 0;
  font-size:2rem;
}
/* Inputs */
.input_password {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.input_password:focus {
  border-color: #5a189a;
  outline: none;
  box-shadow: 0 0 5px rgba(90, 24, 154, 0.4);
}
.action-btn {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #f0f0f0;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.action-btn:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
}

/* Button */
.btn_password {
  width: 100%;
  padding: 12px;
background: linear-gradient(135deg, #6a11cb, #2575fc);
  border: none;
  border-radius: 0.75rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
  transition: transform 0.2s ease, background 0.3s ease;
}
.btn_password:hover {
  transform: scale(1.03);
  background: linear-gradient(135deg, #7b2cbf, #243c9e);
}

