
/* Whole page is purple */
.hero-page {
  background:linear-gradient(135deg, #004e92, #000428); /* deep purple */
  color: #ffffff;
  min-height: 93vh;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 50px;
  margin: auto;
  border-radius: 1.2rem;
  font-family: 'Inter', sans-serif;
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
   height: 100%;
   width: 10%;
  gap: 20px;
}

/* Auth buttons (top right) */
.auth-buttons {
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.login {
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
}

.register {
  background-color: #ff5b37;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
}

/* Main hero content layout */
.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-top: 120px;
  gap: 50px;
}

/* Left text */
.hero-content h1 {
  font-size: 2.4rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.hero-buttons button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: medium;
}

.hero-buttons .login {
  background-color: #1cb3b3;
  color: white;
}

.hero-buttons .learn {
  background-color: #ff7f50;
  color: white;
}

.box img {
  width: 400px;           /* adjust size */
  height: 300px;           /* keep aspect ratio */
  display: block;         /* removes inline spacing */
  margin-left: auto;      /* push right side */
  margin-right: 0;
  filter: drop-shadow(0px 4px 6px rgba(165, 120, 120, 0.9)); /* soft shadow */
}


.chatbot-btn {
  margin-top: 30px;
  background-color: #ff6b3d;
  border: none;
  border-radius: 50px;
  padding: 12px 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.chatbot-btn:hover {
  background-color: #ff4c1f;
  transform: scale(1.05);
}

.chatbot-btn img {
  width: 28px;
  height: 28px;
}





@media (max-width: 768px) {
  .ballot-box img {
    width: 150px;
    margin: 20px auto 0;   /* center image under text */
  }
}



