
.card {
  border-radius: 18px;
  box-shadow: none;        
  transition: none;        
  overflow: hidden;
  max-width: 80%;
  margin: 0 auto;          
}


.card:hover {
  transform: none;
  box-shadow: none;
}
